body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 48, 48);
  padding: 20px;
  width: 200px;
}

.date-rate-container {
  margin-top: auto;
}

.img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.card button {
  border: none;
}

button {
  border: none;
  padding: 4px 30px;
  cursor: pointer;
}

button:hover {
  background-color: antiquewhite;
}

.favorite {
  background-color: green;
}
